[submodule "3rdParty/llvm-project"]
	path = 3rdParty/llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "3rdParty/antlr"]
	path = 3rdParty/antlr
	url = https://github.com/antlr/antlr4.git
